<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardfile">
 
 	<insert id="addAttach">
 		INSERT INTO boardFile(boardFileSeq, boardFileName, entireBoardSeq, boardFileDate)
 		VALUES(#{boardFileSeq.NEXTVAL}, #{boardFileName}, #{entireBoardSeq.NEXTVAL}, SYSDATE)
 	</insert>
 	
 	<!-- 게시글 첨부파일 조회 -->
 	<select id ="getAttach" resultType="string">
 		SELECT boardFileName
 		FROM boardFile
 		WHERE entireBoardSeq = #{entireBoardSeq}
 		ORDER BY boardFileDate ASC
 	</select>
</mapper>
