<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="usermapper">
  
  <!-- 로그인 -->
  <select id="login" parameterType="userDto" resultType="userDto">
  	SELECT USERID, PASSWORD, USERNAME
  	FROM USERS 
  	WHERE USERID = #{userid}
  </select>
  
  <!-- 회원가입 -->
  <insert id="regist" parameterType="userDto">
  	INSERT INTO USERS VALUES(USERSEQ.NEXTVAL, #{userid}, #{password}, #{useremail}, #{userphone}, #{useroaddress}, #{useraddress}, #{userdetailaddress}, 'user', #{username}, #{userbirthday})
  </insert>
  
  <!-- 아이디중복확인 -->
  <select id="idcheck" parameterType="String" resultType="userDto">
  	SELECT USERID FROM USERS WHERE USERID = #{userid}
  
  </select>
  
  
</mapper>
